@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Random rand = new Random();
    int first = rand.Next(100);
    int second = rand.Next(100);
    string output = $"The number is: {new MathLibrary().TheAdder(first, second)}";
}

<div class="text-center">
    <p>Hello, @first plus @second equals @output</p>

</div>
