@page
@model web.Pages.Job.CreateJobModel
@{
    ViewData["Title"] = "Create Job";

    @* "name":"test2",
    "description": "test description2",
    "jobActionType": "2",
    "jobFrequencyInMinutes": "2",
    "jobScheduledAT" : "2022-11-20T23:28:34.3160301Z" *@

}
<form method="POST">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Job Name</label>
    <div class="col-sm-10">
      <input 
            id="name"
            name="name"
            type="text" 
            class="form-control" 
            placeholder="Enter job name">        
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Job Description</label>
    <div class="col-sm-10">
      <input type="text" 
            class="form-control" 
            id="description" 
            name="description"
            placeholder="Enter job description">
    </div>           
  </div>
  <div class="form-group row">
    <label for="jobactiontype" class="col-sm-2 col-form-label">Job action type</label>
    <div class="col-sm-10">
      <input type="text" 
            class="form-control" 
            id="jobactiontype" 
            name="jobactiontype" 
            placeholder="Enter job action type">
    </div>
  </div>
  <div class="form-group row">
    <label for="jobfrequencyinminutes" class="col-sm-2 col-form-label">Job frequency in minutes</label>
    <div class="col-sm-10">    
      <input type="text" 
            class="form-control" 
            id="jobfrequencyinminutes" 
            name="jobfrequencyinminutes" 
            placeholder="Enter Job frequency in minutes">
    </div>           
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container">
  <p>
    @Model.JSONOutput
  </p>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
        @if(@Model.Jobs != null)
        {
          @foreach (var job in @Model.Jobs)
          {
            <tr>
              <td>Name: @job.Name</td>
              <td>Description: @job.Description</td>
            </tr>            
          }        
        }
      </thead>
    </table>
  </idv>
</div>
