@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Weather Job Scheduler</h1>
    <p><a href="/Job/CreateJob">Create a new Job</a></p>
</div>
